#feedback{
	position:fixed;
	top:0px;
	right:4px;
	z-index:10000;
}

#feedback .header{
	background:url("img/feedback.png") no-repeat;
	background-position:4px;
	background-color:#F3F5F7;
        filter:alpha(opacity=60); 
        -moz-opacity: 0.6; 
        opacity: 0.6; 
	width:310px;
	height:30px;
	padding:0px 4px 0px;
	border-left:1px solid #8ecbe7;
	border-right:1px solid #8ecbe7;
	border-bottom:2px solid #8ecbe7;
	text-indent:-99999px;
	cursor:pointer;
}

#feedback .arrow{
	background:url('img/arrows.png') no-repeat;
	float:right;
	width:19px;
	height:14px;
	position:relative;
	top:10px;
}

#feedback .arrow.down{ background-position:left bottom;}
#feedback .header:hover .down{ background-position:left top;}
#feedback .arrow.up{ background-position:right bottom;}
#feedback .header:hover .up{ background-position:right top;}

#feedback .section{
	background-color:#F3F5F7;
	margin-top:-310px;
	width:310px;
	height:260px;
	padding:4px 8px 4px;
	border-left:1px solid #8ecbe7;
	border-right:1px solid #8ecbe7;
	border-bottom:2px solid #8ecbe7;
	font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
}

#feedback .message{
	color:#4C6780;
	text-shadow:1px 1px 0 #AAAAAA;
	margin-top:0px;
	margin-bottom:8px;
}

#feedback textarea{
	background-color:#fff;
	border:none;
	color:#666666;
	width:300px;
	height:168px;
	padding:4px;
	resize:none;
	outline:none;
	overflow:auto;
	
	-moz-box-shadow:2px 2px 0 #C3C5C7;
	-webkit-box-shadow:2px 2px 0 #C3C5C7;
	box-shadow:2px 2px 0 #C3C5C7;
}

#feedback a.submit{
	background:url("img/submit.png") no-repeat;
	border:none;
	display:block;
	width:91px;
	height:34px;
	margin:8px auto 0;
	text-decoration:none;
	text-indent:-99999px;
}

#feedback a.submit:hover{
	background-position:left bottom;
}

#feedback a.submit.working{
	background-position:top right !important;
	cursor:default;
}

#feedback .response{
	font-size:21px;
	margin-top:70px;
	width:310px;
	text-align:center;
	color:#4C6780;
	text-shadow:1px 1px 0 #AAAAAA;
	display:block;
}
